openapi: 3.0.0
info:
  title: Art of Rally Leaderboard API
  version: 0.2.1
servers:
  - url: https://www.funselectorfun.com/artofrally
    description: Official Leaderboard Server
paths:
  /leaderboard/{area}_Stage_{stage-id}_{direction}_{weather}_{group}/{filter-id}/{platform}/{user-id}/{friends}:
    get:
      summary: Retrieve leaderboard data
      responses:
        200:
          description: Ok
    parameters:
      - name: area
        required: true
        in: query
        schema:
          type: string
          enum:
            - Finland
            - Sardinia
            - Japan
            - Norway
            - Germany
            - Kenya
      - name: stage-id
        required: true
        in: query
        schema:
          type: integer
          enum: [1, 2, 3, 4, 5, 6]
      - name: direction
        required: true
        in: query
        schema:
          type: string
          enum: ["Forward", "Reverse"]
      - name: weather
        required: true
        in: query
        schema:
          type: string
          enum:
            - Dry
            - Wet
        x-enumDescription:
          Dry: Dry Stages
          Wet: Rain or Snow Stages
      - name: group
        required: true
        in: query
        schema:
          type: string
          enum:
            - 60s
            - 70s
            - 80s
            - GroupB
            - GroupS
            - GroupA
            - Bonus_Vans
            - Bonus_Monkey
            - Bonus_Dakar
            - Bonus_Logging
        x-enumDescriptions:
          60s: Group 2
          70s: Group 3
          80s: Group 4
          GroupB: Group B
          GroupS: Group S
          GroupA: Group A
          Bonus_Vans: Vans
          Bonus_Monkey: Tri-Wheelers
          Bonus_Dakar: Trucks
          Bonus_Logging: Logging
      - name: filter-id
        required: true
        in: query
        schema:
          type: integer
        examples:
          top:
            value: 0
          around_me:
            value: 1
          global:
            value: 2
          count:
            value: 3
          player_rank:
            value: 4
          number_one:
            value: 5
          friends:
            value: 6
          only_me:
            value: 7
      - name: platform
        required: true
        in: query
        schema:
          type: integer
        examples:
          all:
            value: 6
          standard:
            value: 2
          switch:
            value: 5
          epic:
            value: 0
          gog:
            value: 1
          steam:
            value: 2
          xbox:
            value: 3
          play_station:
            value: 4
      - name: user-id
        required: false
        in: query
        schema:
          type: integer
      - name: friends
        required: false
        in: query
        schema:
          type: integer
