openapi: 3.0.3
info:
  title: Art of Rally Leaderboard API
  version: 0.2.1
servers:
  - url: https://www.funselektorfun.com/artofrally
    description: Official Leaderboard Server
paths:
  /leaderboard/{area}_Stage_{stage}_{direction}_{weather}_{group}/{filter}/{platform}/{user}/{friends}:
    get:
      summary: Retrieve leaderboard data
      operationId: get_leaderboard
      responses:
        200:
          description: Ok
    parameters:
      - name: area
        required: true
        in: query
        schema:
          type: string
          default: Finland
          enum:
            - Finland
            - Sardinia
            - Japan
            - Norway
            - Germany
            - Kenya
      - name: stage
        required: true
        in: query
        schema:
          type: integer
          default: 1
          enum: [1, 2, 3, 4, 5, 6]
      - name: direction
        required: true
        in: query
        schema:
          type: string
          enum: ["Forward", "Reverse"]
      - name: weather
        required: true
        in: query
        schema:
          type: string
          default: Dry
          enum:
            - Dry
            - Wet
          x-enumDescriptions:
            Dry: Dry Stages
            Wet: Rain or Snow Stages
      - name: group
        required: true
        in: query
        schema:
          type: string
          default: 60s
          enum:
            - 60s
            - 70s
            - 80s
            - GroupB
            - GroupS
            - GroupA
            - Bonus_Vans
            - Bonus_Monkey
            - Bonus_Dakar
            - Bonus_Logging
          x-enumDescriptions:
            60s: Group 2
            70s: Group 3
            80s: Group 4
            GroupB: Group B
            GroupS: Group S
            GroupA: Group A
            Bonus_Vans: Vans
            Bonus_Monkey: Tri-Wheelers
            Bonus_Dakar: Trucks
            Bonus_Logging: Logging
      - name: filter
        required: true
        in: query
        schema:
          type: integer
          enum: [0, 1, 2, 3, 4, 5, 6, 7]
          default: 0
          x-enumDescriptions:
            0: Top
            1: Around Me
            2: Global
            3: Count
            4: Player Rank
            5: Number \#1
            6: Friends
            7: Only Me
      - name: platform
        required: true
        in: query
        schema:
          type: integer
          enum: [0, 1, 2, 3, 4, 5, 6]
          default: 2
          x-enumDescriptions:
            0: Epic
            1: GOG
            2: Steam
            3: XBox
            4: PlayStation
            5: Nintendo Switch
            6: All
      - name: user
        required: false
        in: query
        schema:
          type: integer
      - name: friends
        required: false
        in: query
        schema:
          type: integer
